[submodule "extern/unity"]
	path = extern/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
    branch = master
[submodule "extern/freeRTOS/Kernel"]
	path = extern/freeRTOS/Kernel
    url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	branch = V10.4.6
[submodule "extern/elastic-ai.runtime.c"]
	path = extern/elastic-ai.runtime.c
	url = https://github.com/es-ude/elastic-ai.runtime.c
	branch = v2.0.0
[submodule "extern/pico-sdk"]
	path = extern/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
	branch = master
