name: "PR Validation"
on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize, edited]
    branches:
      - "main"

jobs:
  lint-commits:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: prepare devenv
        uses: ./.github/actions/prepare-devenv
      - name: validate commit messages
        run: devenv shell devenv tasks run check:commit-lint

  clang-format:
    needs:
      - lint-commits
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: prepare devenv
        uses: ./.github/actions/prepare-devenv
      - name: validate code style
        run: devenv shell devenv tasks run check:code-lint

  unit-tests:
    needs:
      - clang-format
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          submodules: "true"
      - name: prepare devenv
        uses: ./.github/actions/prepare-devenv
      - name: run unit-tests
        run: devenv shell devenv tasks run check:unit-test -m all

  build_all_targets:
    needs:
      - unit-tests
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          submodules: "true"
      - name: prepare devenv
        uses: ./.github/actions/prepare-devenv
      - name: build pico targets
        run: devenv shell devenv tasks run check:build-pico-targets -m all
