name: "Unit Tests"

on:
  workflow_call:
  workflow_dispatch:

jobs:
  unit_tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup
        run: sudo apt-get install ninja-build

      - name: Configure CMake
        run: cmake -B cmake-build-test -D UNIT_TEST:BOOL=ON -D CMAKE_BUILD_TYPE=DEBUG -G Ninja .

      - name: Build
        run: cmake --build cmake-build-test -j 4

      - name: Run tests
        run: ctest --test-dir cmake-build-test/test/unit --output-on-failure
